*{
    background-color: rgb(53, 54, 54);
}

.teste{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: blue;
}
.hudson{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    width: 60%;
}
h1{
    text-decoration: underline;
}
a{
    color: white;
}

